@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');

* {
    font-family: "Cabin";
}
body {
    font-family: 'Cabin';
    background-color: #FFFFFF;
    margin: 15px 80px;
}

#tentacles {
    width: 6rem;
    max-width:80px;
    min-width: 30px;
}

/*---------Header-------*/
/**********************/
.header {
    display: flex;
    background-color: lightblue;
    padding: 1%;
    align-items: center;
    margin-top: -10px;
}
.header-text {
    font-size: 4rem;
}

/*---------Nav-------*/
/**********************/
.topnav {
    background-color: #fff;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #000;
    background-color: #fff;
    text-align: center;
    padding: .8rem 16px;
    margin-bottom: 10px;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
}

/* Change the color of links on hover */
.topnav a:hover {
    color: lightblue;
    text-decoration: overline;
}

/* Add a color to the active/current link */
.topnav a.active {
    color: lightblue;
    border-radius: 10px 10px 0px 0px;
}

/*---------Body-------*/
/**********************/

.stats-container {
    display: flex;
}

.stats-card {
    background-color: #e1e3e5;
    border-radius: 7px;
    padding: 2%;
    margin: 1%;
    width: 100%;
    text-align: center;
}

#num-contributions, #total-raised, #num-games {
    font-size: 4rem;
}

#games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#stats-containers {
    display: flex;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 0 30px;
}

.game-img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px #FFFFFF;
}

.game-card {
    padding: 1%;
    margin: 1%;
    width: 300px;
    text-align: center;
    border-radius: 7px;
}

.game-card:hover {
    cursor: pointer;
}

#button-container {
    text-align: center;
}

button {
    font-family: 'Cabin';
    background-color: #75819A;
    color: #FFFFFF;
    border: none;
    padding: 1%;
    margin: 1%;
    border-radius: 7px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}
button:hover {
    background-color: #75819A;
    color: #FFFFFF;
    opacity: 1;
}

button:focus {
    background-color: #75819A;
    color: #FFFFFF;
    opacity: 1;
}